li {
    padding: 5px;
    margin: 5px;
    background: #dfa06e;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
.main-image{
  width: 250px;
  height: 250px;
}
body{
  background-color: #fffbdb;
}